


<div class="row alert alert-info" *ngIf="userObj ; else noUser">
    <div class="col-md-8">
      <div class="d-flex userName">
         <mat-icon>person</mat-icon>
         <h3 class="m-0"><strong>UserName : </strong>{{userObj.userName}} </h3>
      </div>

     <mat-divider class="bg-danger mt-3 mb-3"></mat-divider>


      <div class="d-flex userName">
        <mat-icon>admin_panel_settings</mat-icon>
        <h3 class="m-0"><strong>UserRole : </strong>{{userObj.userRole}} </h3>
     </div>

     <mat-divider class="bg-danger mt-3 mb-3"></mat-divider>

    <div class="uDetails">
     <span class="d-flex m-0">
         <mat-icon>summarize</mat-icon>
         <h3 class="m-0"><strong>User Description : </strong></h3>
       </span>
       <p class="userDetails"> {{userObj.userDetails}} </p>
    </div>

    <mat-divider class="bg-danger mt-3 mb-3"></mat-divider>


    <div class="button">
     <button class="btn btn-sm" mat-raised-button color="primary" [queryParamsHandling]='"preserve"'
     routerLink="editUser">Edit User</button>
     <button class="btn btn-sm ml-4" mat-raised-button color="warn" 
     (click)="onRemoveUser()">Remove User</button>
    </div>
    </div>
    <div class="col-md-4">
         <div class="imgContainer">
            <img [src]="userObj.personImg" [alt]="userObj.userName" [title]="userObj.userName">
         </div>
    </div>

</div>

<ng-template #noUser>
 <p class="alert alert-danger text-danger">User not available yet!!</p>
</ng-template>

